.deleteModal {
  z-index: 20;

  .buttonOutline {
    margin-bottom: 20px;
  }

  .titleForm {
    height: 50px;
    p {
      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }
  }

  button {
    width: 100%;
    padding: 10px;
  }
}
