.brandAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  p {
    color: var(--text-muted);
    margin: 20px 0 10px 0;
    font-size: 1rem;
    text-align: center;
  }

  .brandButton {
    width: 100%;
    margin: 10px 0;
    display: flex;
    filter: brightness('1.2');
    border-radius: 5px;
    background: var(--background-brand);
    padding: 10px 0;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.96);
    }

    .facebook {
      color: #4267b2;
    }

    .github {
      opacity: 0.7;
      color: var(--text-color);
    }

    svg {
      position: absolute;
      top: 8px;
      left: 15px;
      font-size: 23px;
    }

    p {
      margin: 0 0 0 15px;
      color: var(--brand-text);
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
