@import url('./_components.scss');
@import url('./themes/_dark.scss');
@import url('./themes/_light.scss');
@import url('./responsive/_desktop.scss');
@import url('./responsive/_tablet.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  p,
  h1,
  h2,
  h3,
  button,
  label,
  table,
  a {
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.875rem;
  }
}

html {
  font-style: sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  z-index: 5;
  padding: 30px 15px 0 15px;
}
