.systemTitle {
  margin-top: 20px;
  height: 90px !important;

  p {
    font-size: 1.375rem;
    font-weight: 400;
  }
}

.systemInput {
  height: 90px;
  width: 100%;

  .inputGroup {
    margin-top: 2px;
  }
}
