@keyframes initialAnimation {
  from {
    margin-left: -200px;
    margin-right: 200px;
    opacity: 0;
  }

  to {
    margin: 0;
    opacity: 1;
  }
}

@keyframes illustrationAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.initialContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .illustrationPrincipal {
    animation-name: illustrationAnimation;
    animation-duration: 1s;
  }

  p {
    margin-bottom: 25px;
    text-align: center;
    font-size: 1rem;
  }

  .buttonsInitials {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
  }

  .initialDescription {
    flex-direction: column;
    display: flex;
    align-items: center;
    animation-name: initialAnimation;
    animation-duration: 1s;
  }
}

.line {
  height: 1px;
  margin: 40px 0;
  width: 100%;
  background-color: var(--border-color);
}
