.authInput {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  color: var(--text-color);
  font-size: 0.875rem;
  background: none;
  border: 2px solid var(--input-border);
  border-radius: 3px;
  margin-top: 3px;
  z-index: 1;
}

.inputGroup {
  position: relative;
  svg {
    z-index: 2;
    right: 12px;
    position: absolute;
    top: 14px;
    font-size: 1.25rem;
  }
}
