.firstTutorial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputTutorial {
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  background: none;
  border: 2px solid var(--border-color);
  color: var(--text-muted);
}

.linkIcon {
  margin-left: 15px;
  font-size: 1.4375rem;
  color: var(--primary);
}
