.firstTutorial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputTutorial {
  height: 25px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.linkIcon {
  margin-left: 15px;
  height: 20px;
}
